name: Build and Test

on:
  push:
    branches: [ "**" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Restore tools
      run: dotnet tool restore
    - name: Debug repo structure
      run: |
           echo "Listing repo files..."
           ls -R .
    - name: Generate OpenAPI JSON
      run: |
           dotnet build LocalAIAgent.API -c Release
           dotnet swagger tofile --output LocalAIAgent.API/openapi/LocalAIAgent.API.json LocalAIAgent.API/bin/Release/net10.0/LocalAIAgent.API.dll v1
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
