name: Release Console App

on:
  push:
    branches: [ "rel/*" ]

permissions:
  contents: write

jobs:

  build:
  
    runs-on: ubuntu-latest

    env:
      Solution_Name: ${{ vars.SOLUTION_NAME }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Extract version from branch name
      run: |
          BRANCH_NAME=${{ github.ref }}
          VERSION=${BRANCH_NAME#refs/heads/rel/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Check if tag exists
      id: check_tag
      run: |
          if git ls-remote --tags origin | grep -q "refs/tags/$VERSION"; then
            echo "Tag $VERSION already exists."
            echo "exists=true" >> $GITHUB_ENV
          else
            echo "exists=false" >> $GITHUB_ENV
          fi

    - name: Exit Workflow If Tag Already Exists
      if: env.exists == 'true'
      run: |
        echo "Tag already exists. Exiting workflow."
        exit 0

    - name: Create tag
      run: |
          git tag $VERSION
          git push origin $VERSION
        
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: Publish as Single Executable
      run: dotnet publish /home/runner/work/Local-AI-Agent/Local-AI-Agent/LocalAIAgent.API/LocalAIAgent.API.csproj -c Release -r win-x64 --self-contained /p:PublishSingleFile=true /p:UseAppHost=true

    - name: Rename the executable
      run: mv /home/runner/work/Local-AI-Agent/Local-AI-Agent/LocalAIAgent.API/bin/Release/net10.0/win-x64/publish/LocalAIAgent.API.exe /home/runner/work/Local-AI-Agent/Local-AI-Agent/LocalAIAgent.ConsoleApp/bin/Release/net9.0/win-x64/publish/LocalAIAgent.exe

    - name: Remove .pdb files
      run: rm /home/runner/work/Local-AI-Agent/Local-AI-Agent/LocalAIAgent.API/bin/Release/net10.0/win-x64/publish/*.pdb

    - name: Add empty UserPrompt.txt
      run: touch /home/runner/work/Local-AI-Agent/Local-AI-Agent/LocalAIAgent.API/bin/Release/net10.0/win-x64/publish/UserPrompt.txt

    - name: Zip the publish folder
      run: zip -j LocalAIAgent.zip /home/runner/work/Local-AI-Agent/Local-AI-Agent/LocalAIAgent.API/bin/Release/net10.0/win-x64/publish/*

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
       name: ${{ env.Solution_Name }}
       path: AINews.zip

    - name: Create GitHub Release with ZIP
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.VERSION }}
        name: Release ${{ env.VERSION }}
        body: |
          New release created!
          - Tag: ${{ env.VERSION }}
        files: AINews.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
